
.nav{
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    padding: 15px;
    text-align: left;
 
    
}

.big-div1{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.icons p{
    display: inline;
}


.card1{
    border: 2px solid black;
    width: 300px;
    height: 190px;
    border-radius: 10px;
    
}

.colorpurple{
    width: 300px;
    height: 110px;
    background-color: blueviolet;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    

}


.card2{
    border: 2px solid black;
    width: 300px;
    height: 190px;
    border-radius: 10px;
}

.red{
    width: 300px;
    height: 110px;
    background-color:red;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.card3{
    border: 2px solid black;
    width: 300px;
    height: 190px;
    border-radius: 10px;
}
.green{
    width: 300px;
    height: 110px;
    background-color:green;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.card4{
    border: 2px solid black;
    width: 300px;
    height: 190px;
    border-radius: 10px;
}
.colorblue{
    width: 300px;
    height: 110px;
    background-color:blue;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.card5{
    border: 2px solid black;
    width: 300px;
    height: 190px;
    border-radius: 10px;
}

.colordeeppink{
    width: 300px;
    height: 110px;
    background-color:deeppink;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.card6{
    border: 2px solid black;
    width: 300px;
    height: 190px;
    border-radius: 10px;
}
.colororange{
    width: 300px;
    height: 110px;
    background-color:rgb(255, 130, 20);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.card7{
    border: 2px solid black;
    width: 300px;
    height: 190px;
    border-radius: 10px;
}

.lemongreen{
    width: 300px;
    height: 110px;
    background-color:rgb(47, 241, 21);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}


.card8{
    border: 2px solid black;
    width: 300px;
    height: 190px;
    border-radius: 10px;
}

.yellow{
    width: 300px;
    height: 110px;
    background-color:rgb(200, 245, 36);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.card9{
   border: 2px solid black;
    width: 300px;
    height: 190px;
    border-radius: 10px; 
}