.container{
    flex-wrap: wrap;
    gap: 20px; 
    /* padding: 30px; */
    justify-content: left;
    
}

.card1{
    border: 2px solid black;
    width: 300px;
    height: 190px;
    border-radius: 10px;
    
}

.colorpurple{
    width: 300px;
    height: 110px;
    background-color: blueviolet;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    

}
.card4{
    border: 2px solid black;
    width: 300px;
    height: 190px;
    border-radius: 10px;
}
.colorblue{
    width: 300px;
    height: 110px;
    background-color:blue;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.card5{
    border: 2px solid black;
    width: 300px;
    height: 190px;
    border-radius: 10px;
}
.colordeeppink{
    width: 300px;
    height: 110px;
    background-color:deeppink;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}